@model List<eCommerse.Context.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="section-content padding-y">
    <div class="container">

        <nav class="row">
            @foreach (var item in Model)
            {<div class="col-md-3">

                    <div class="card card-category">
                        <div class="img-wrap" style="background: #ffd7d7">
                            <img  src="~/images/items/Category">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title"><a href="  ">@item.name_category</a></h4>
                            <div  class="input-group-append" > 
                                
                                     <a href ="@Url.Action("ProductCategory","Category", new  { id = @item.id_category})" class="buttons">More </a>
                                
                            </div>
                        </div>
                    </div>
                </div> <!-- col.// -->


            }

 
        </nav> <!-- row.// -->


    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
